[submodule "Libraries/mongo-c-driver"]
	path = Libraries/mongo-c-driver
	url = git@github.com:fotonauts/mongo-c-driver.git
[submodule "Libraries/libjson"]
	path = Libraries/libjson
	url = git@github.com:fotonauts/libjson.git
